<li
  class="list-group-item clickable-list-item expense-item"
  data-expense="<%- JSON.stringify(expense).replace(/"/g, '&quot;') %>"
>
  <a 
    href="/expenses/<%= expense._id %>" 
    class="row align-items-center text-decoration-none"
  >
    <!-- Col 1: Title / Date / Mobile-only NOB -->
    <div class="col-8 col-md-4">
      <strong><%= expense.title %></strong><br/>
      <small class="text-muted"><%= formatters.formatDate(expense.date) %></small>

      <!-- only show this on mobile -->
      <div class="text-muted fw-bold mt-1 d-block d-md-none">
        <small><%= expense.nob %></small>
      </div>
    </div>

    <!-- Col 2: Desktop-only NOB -->
    <div class="d-none d-md-block col-md-4">
      <div class="text-muted fw-bold">
        <small><%= expense.nob %></small>
      </div>
    </div>

    <!-- Col 3: Price -->
    <div class="col-4 col-md-4 text-end">
      <span class="badge bg-danger rounded-pill fs-5">
        <%= formatters.formatCurrencyILS(expense.price) %>
      </span>
    </div>
  </a>
</li>